.bg-color {
    background-color: #BACDB0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #729B79, #475B63 70%);
}

.banner-title {
    background-image: url("../ThRees_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: #BACDB0;
    padding: 2px 30px;
    border-radius: 10px;
}

.postDataContainer {
    margin: 10px 20%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #c2b2b2;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.category {
    font-size: 20px;
    color: #585656;
    margin-bottom: 5px;
}

.image {
    max-width: 50%;
    height: auto;
    margin-bottom: 5px;
}

.content {
    font-size: 20px;
    margin-bottom: 5px;
}






