.post-form-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

form {
    position: relative;
    font-size: 20px;
    background-color: #BACDB0;
    padding: 65px 35px;
    margin: 50px;
    border-radius: 20px;
}

.form-box {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

form label {
    justify-content: end;
    margin-right: 25px;
    width: 10%;
    display: flex;
}

.form-box input,
.form-box textarea {
    width: 600px;
}

#submitBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
