@import url("base.css");

.hero-banner {
    background-color: #BACDB0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 18rem;
    flex-direction: column;
}

#tabs{
    display: flex;
    flex-direction: row;
}